@page "/Oplevelser"
@model ByGuide.Pages.Experiences.GetAllExperiencesModel
@{
}

<div id="page-experiences">
    <div class="row g-3">
        <h1 class="text-center">Oplevelser</h1>
        <div class="col-12">
            <form method="post">
                <div class="input-group mb-3">
                <input autofocus asp-for="SearchString" class="form-control mr-1" placeholder="Indtast søgeord" />
                <input type="submit" asp-page-handler="Search" value="Søg" class="btn btn-primary" />
                <a href="./Oplevelser" class="btn btn-secondary">Nulstil</a>
            </div>
            </form>

            <form method="post">
                <div class="input-group">
                    <span class="input-group-text">Pris Min</span>
                    <input asp-for="MinPrice" class="form-control mr-1" style="max-width: 100px;" />
                    <span class="input-group-text">Pris Max</span>
                    <input asp-for="MaxPrice" class="form-control mr-1" style="max-width: 100px;" />
                    <span class="input-group-text">Kategori</span>
                    <select asp-for="Category" asp-items="@(new SelectList(Categories.AllowedCategories))" class="form-control" style="max-width: 300px;">
                        <option value="">Vælg en kategori</option>
                    </select>
                    <input type="submit" asp-page-handler="Filter" value="Filter" class="btn btn-primary" />
                    <a href="./Oplevelser" class="btn btn-secondary">Nulstil</a>
                </div>
            </form>
        </div>

        @if (Model.Experiences != null)
        {
            foreach (var experience in Model.Experiences)
            {
                <div class="col-4 d-flex align-items-stretch">
                    <a class="card content-card text-decoration-none border-0" asp-area="" asp-page="GetExperience" asp-route-id="@experience.Id">
                        @if (!string.IsNullOrEmpty(experience.ImageURL))
                        {
                            <div class="card-header p-0" style="height: 150px; overflow: hidden; width: 100%;">
                                <img src="@experience.ImageURL"
                                     class="img-fluid" alt="...">
                            </div>
                        }
                        <div class="card-body">
                            <p style="display:none;">@experience.Category</p>
                            <h5 style="color: #2F799E;">@experience.Title</h5>
                            <p class="text-truncate" style="color: #81BBD2;">@experience.Description</p>
                        </div>
                        <div class="card-footer">
                            <p class="mb-0 text-black"><i class="fa-solid fa-coins"></i> @experience.AdmissionPrice kr.</p>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>

