@page "/Events"
@model ByGuide.Pages.Events.GetAllEventsModel
@{
    ViewData["Title"] = "Events";
}


<div id="page-e">
    <div class="row g-3">
<h1>Begivenheder</h1>
<div class="">
<form method="post">
    <div class="input-group mb-3">
        <input autofocus asp-for="SearchString" class="form-control mr-1" placeholder="Indtast søgeord" />
        <input type="submit" asp-page-handler="Search" value="Søg" class="btn btn-primary" />
        <a href="./GetAllEvents" class="btn btn-secondary">Nulstil</a>
    </div>
</form>

<form method="post">
    <div class="input-group">
            <span class="input-group-text">Pris Min</span>
        <input asp-for="MinPrice" class="form-control mr-1" style="max-width: 100px;" />
            <span class="input-group-text">Pris Max</span>
        <input asp-for="MaxPrice" class="form-control mr-1" style="max-width: 100px;" />
            <span class="input-group-text">Kategori</span>
        <select asp-for="Category" asp-items="@(new SelectList(Categories.AllowedCategories))" class="form-control" style="max-width: 300px;">
            <option value="">Vælg en kategori</option>
        </select>
        <input type="submit" asp-page-handler="Filter" value="Filter" class="btn btn-primary" />
        <a href="./GetAllEvents" class="btn btn-secondary">Nulstil</a>
    </div>
</form>
</div>

    @if (Model.Events != null)
    {
        foreach (var e in Model.Events)
        {
            <div class="card">
                <div class="card-body">                   
                    <p><h5 class="card-title">Name : @e.Name</h5></p>
                    <h5 class="card-title">Date : @e.DatetimeList </h5>
                    <p class="card-text">Price : @e.Price Kr</p>
                    <p class="card-text"><strong>ExternalLink:</strong><br />@e.ExternalLink</p>
                    <p class="card-text">                    
                    </p>
                    <p class="card-text">
                        Handicapvenlig: @(e.HandicapAccessible ? "Ja" : "Nej")
                    </p>
                </div>


            </div>
        }
    }
    </div>
</div>